<div class="footer">
    <div class="footer-inner">
        <div>
            <span>© 2022 - fysh711426</span>
        </div>
        <div>
            <a href="https://hexo.io/" target="_blank">Hexo</a>
            <span class="copyright-divider">|</span>
            <a href="https://github.com/xaoxuu/hexo-theme-volantis/" target="_blank">Volantis Theme</a>
        </div>
    </div>
</div>